[submodule "sam-hq"]
	path = algos/3rd_party/sam-hq
	url = https://github.com/SysCV/sam-hq.git
[submodule "perception_models"]
	path = algos/3rd_party/perception_models
	url = https://github.com/facebookresearch/perception_models.git
[submodule "lmms-eval"]
	path = algos/3rd_party/lmms-eval
	url = https://github.com/EvolvingLMMs-Lab/lmms-eval.git
[submodule "SpargeAttn"]
	path = algos/3rd_party/SpargeAttn
	url = https://github.com/NguyenHuuChi/SpargeAttn
